:root {
  --yt-spec-text-primary: rgb(255, 255, 255) !important;
  /* header */
  --yt-spec-menu-background: #06060694 !important;
  --yt-spec-raised-background: #06060694 !important;
}

ytd-offline-promo-renderer[darker-dark-theme][dialog][dialog][dialog],
tp-yt-paper-dialog[modern] {
  backdrop-filter: blur(10px);
}

html[darker-dark-theme][dark] {
  background: #0f0f0f !important;
}

html[darker-dark-theme][dark],
[darker-dark-theme] [dark],
ytd-feed-filter-chip-bar-renderer[darker-dark-theme] #chips-wrapper.ytd-feed-filter-chip-bar-renderer {
  background-color: #00000000 !important;
  backdrop-filter: blur(10px);
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0) !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

ytd-app:not([use-content-visibility]) #page-manager.ytd-app {
  margin-top: 0px;
}

ytd-watch-flexy[flexy] #columns.ytd-watch-flexy
{
  margin-top: 50px;
}

#contentWrapper.tp-yt-iron-dropdown > *
{
  background-color: #5c5f5f6b;
}

ytd-subscription-notification-toggle-button-renderer-next.style-scope.ytd-subscribe-button-renderer>yt-button-shape
{
  padding: 10px;
  margin: 0;
}

ytd-menu-popup-renderer[sheets-refresh] tp-yt-paper-listbox.ytd-menu-popup-renderer,tp-yt-paper-icon-item[style-target=host], tp-yt-paper-item[style-target=host]

{
padding: 0;
margin: 0;
}

ytd-watch-metadata[flex-menu-enabled] #actions.ytd-watch-metadata ytd-menu-renderer.ytd-watch-metadata>yt-button-shape{
  top: -10px;
  position: relative;
  padding: 10px;
  margin: 0;
}

ytd-searchbox[desktop-searchbar-style=rounded_corner_borders_light_btn] #container.ytd-searchbox,
ytd-searchbox[desktop-searchbar-style=rounded_corner_autofocus] #container.ytd-searchbox {
  background-color: rgba(96, 95, 92, 0.26) !important;
  color: aliceblue;
}

.html5-video-player {
  border-radius: 10px !important;
}
